In [2]:
# a program to break apart a DNA sequence into reads.  Assume full coverage.  Average read length is 50bp.  
# generate a random DNA sequence of length 10000bp.  Break it into reads.  Store in a dataframe.

import pandas as pd
import numpy
import random

# generate a random DNA sequence of length 10000bp
def generate_random_sequence(length):
    dna = ""
    for i in range(length):
        dna += random.choice("ACGT")
    return dna

# break the DNA sequence into reads
def break_into_reads(dna, read_length):
    reads = []
    for i in range(0, len(dna), read_length):
        reads.append(dna[i:i+read_length])
    return reads

# generate a random DNA sequence of length 10000bp
dna = generate_random_sequence(10000)

# break the DNA sequence into reads
reads = break_into_reads(dna, 50)

# store the reads in a dataframe
df = pd.DataFrame(reads, columns=["Reads"])
df

                                                 Reads
0    AACGATGAACCCGACCGACACCGGTATGATGCTGATCTCATCAGGT...
1    TGCCTCCAGGGGGGAGTCTTATAGTTAAAACAAGCACTGCCGGCTA...
2    ACCACTCAGCCTTCCGCGACTCTTTGCGTGGTACTGAGGCGACCTC...
3    ATTAAAAGTTCAATCTCTTATGCGCGTCTTTGATGGTCGGACTGGT...
4    TATGGGCACAGGTCAGCGACAGATTACAGTGGGTCCCCAGTCATAA...
..                                                 ...
195  AAGTAGATAACAGATCTGAGTTGTTTTAAAGACACGTCCGATCTTT...
196  AGTAAACCCTTCCTACGCTACAATTCTACGAACGTAAACACAACTA...
197  GGTTGGATGGTGTACGTTCACCTGGTAGGTCCTTTCACGAGCCGTA...
198  TCTAATCTCATGCCGTGGGCCATCTAGCTGCACATTCTCGGTCCGA...
199  AGGGGAGGAGGGCCAGATGACTCGTTCAGATTTGTTGCCCACCCGC...

[200 rows x 1 columns]